<!DOCTYPE html>
<html lang="SV">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lägg till kurser</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="header">
        <h1 class="mainheader">LÄGG TILL KURSER</h1>
        <div class="navmenu">
        <nav class="menu" id="menu">
            <ul class="headmenu">
                <li><a href="/">STARTSIDA / VISA KURSER</a></li>
                <li><a class="duarhar" href="/addcourses">LÄGG TILL KURSER</a></li>
                <li><a href="/about">OM WEBBPLATSEN</a></li>
            </ul>
        </nav>
        </div>
        <button class="menu-btn open" id="open-menu"> 
            <span class="menu-icon"> 
            <span class="bars"></span> 
            <span class="bars"></span> 
            <span class="bars"></span> 
            </span> 
            <span class="menutext">Meny</span> 
        </button> 
        <nav class="menu" id="nav-menu"> 
            <button class="menu-btn close" id="close-menu"> 
            <span class="menu-icon"> 
            <span class="bars cross1"></span> 
            <span class="bars cross2"></span> 
            </span> 
            <span class="menutext">Stäng meny</span> 
        </button> 
            <ul class="mobilmenu">
                <li><a href="/">STARTSIDA / VISA KURSER</a></li>
                <li><a class="duarhar" href="/addcourses">LÄGG TILL KURSER</a></li>
                <li><a href="/about">OM WEBBPLATSEN</a></li>
            </ul>
            </nav>
    </header>
    <main>
        <h2 class="addheader">Lägg till kurs</h2>
        <div class="addCourse">
        <p class="whattodo">Fyll i formuläret nedan för att lägga till en kurs</p>
        <form class="addcourseform" method="post" action="/addcourses">
            <div class="coursecode">
            <label for="coursecode">Kurskod:</label>
            <input type="text" id="coursecode" name="coursecode">
            </div>
            <br>
            <div class="coursename">
            <label for="coursename">Kursnamn:</label>
            <input type="text" id="coursename" name="coursename">
            </div>
            <br>
            <div class="syllabus">
            <label for="syllabus">Länk till kursplan:</label>
            <input type="text" id="syllabus" name="syllabus">
            </div>
            <br>
            <div class="progression">
            <label for="progression">Progression:</label>
            <select id="progression" name="progression">
                <option value="Välj progression">Välj progression</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
            </select>
            </div>
            <br>
            <input class="addbutton" type="submit" value="Lägg till ny kurs">
        </form>
        </div>
    </main>
    <footer>
        <p>DT207G Backendbaserad webbutveckling | anju2402, Ängla Juliusson | VT2025</p>
    </footer>
    <script src="/js/main.js"></script>
</body>
</html>