/*Menyn*/
.headmenu {list-style-type: none; margin: 0; padding: 1em;} 
.headmenu > li {display: inline-block; position: relative;}
.headmenu > li > ul {display: none; position: absolute; top: 100%; list-style-type: none; margin: 0; padding: 0;} 
.headmenu > li:hover > ul {display: block;} 
.headmenu a {text-decoration: none;} 
.headmenu > li:hover {background-color: lightgray;} 
.headmenu > li > ul > li:hover {background-color:white;} 
.duarhar {text-decoration: underline !important;}
.headmenu li {margin-right: 30px;}
.mobilmenu li {margin-bottom: 30px;}
/*Färger för länkarna vid olika tillfällen*/ 
a:link{color: black;}  
a:visited{color: black;} 
a:hover{color: black;} 
a:active{color: black;} 
body {
    background-color: pink;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
header {
    background-color: palevioletred;
}
footer {
    background-color: palevioletred;
}

@media (max-width:1025px) {
    /* Media queries sÃ¥ att hamburgarmenyn endast visas fÃ¶r mindre skÃ¤rmar*/
    /* CSS fÃ¶r hamburgermenyn*/
    nav {
        background-color: palevioletred;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.71);
        font-size: 1.4em;
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 250px;
        display: none;
    }
    nav ul {
        width: 100%;
        list-style-type: none;
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }
    nav li {
        padding: 0.8em 0;
        width: 100%;
    }
    nav a {
        color: black;
        text-decoration: none;
        padding: 0 1em;
    }
    nav li:hover {
        background-color: palevioletred;
        cursor: pointer;
    }
    /* Meny kanpp, Ã¶ppna meny*/
    .menu-btn {
        display: flex;
        align-items: center;
        padding: 8px 15px;
        background-color: palevioletred;
        border: black solid 2px;
        cursor: pointer;
        float: right;
    }
    .open {
        margin: 0 1em;
        width: 130px;
    }
    /* CSS fÃ¶r hamburger-icon*/
    .bars {
        display: block;
        width: 20px;
        height: 3px;
        background-color: black;
        margin: 5px 0;
    }
    .menutext {
        font-size: 1.2em;
        color: black;
    }
    /* Meny knapp, stÃ¤ng*/
    .close {
        margin: 1em 1.5em;
        padding: 10px 15px;
    }
    /* Skapa kryss*/
    .cross1 {
        width: 25px;
        transform: rotate(45deg);
        position: relative;
        top: 5px;
    }
    .cross2 {
        width: 25px;
        transform: rotate(135deg);
        position: relative;
        top: -3px;
    }
    }

@media (min-width: 1025px) {
.menu-btn {display: none;} /* Dölj knapp*/
.mobilmenu {display: none;} /* Dölj mobilmenu*/
body {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header {
    width: 100vw;
    grid-area: header;
    display: grid;
    grid-template-areas: 
    "mainheader headmenu";
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em;
    margin-bottom: 2em;
}
.mainheader {
    grid-area: mainheader;
    margin-right: 3em;
}
.headmenu {
    grid-area: headmenu;
}
main {
    grid-area: main;
    grid-template-areas: 
    "addheader"
    "whattodo" 
    "form";
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.addheader, .courseheader {grid-area: addheader;margin-top: 2em; }
.whattodo {grid-area: whattodo;}
.addcourseform {
    grid-area: form;
    display: grid;
    grid-template-areas: 
    "code"
    "name"
    "syllabus"
    "progression"
    "button";
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 2em;
}
.coursecode {
    grid-area: code;
    margin-bottom: 15px;
}
.coursename {
    grid-area: name;
    margin-bottom: 15px;
}
.syllabus {
    grid-area: syllabus;
    margin-bottom: 15px;
}
.progression {
    grid-area: progression;
    margin-bottom: 30px;
}
.addbutton { 
    grid-area: button;
    width: 170px;
    height: 40px;
    margin: 0 auto; 
    display: block;
    background-color: rgb(210, 94, 132);
    font-size: medium;
    border: 2px solid rgb(210, 94, 132);
    border-radius: 5px;
    cursor: pointer; 
}
.addbuttonlink { 
    grid-area: button;
    width: 170px;
    height: 40px;
    margin: 0 auto; 
    display: block;
    background-color: rgb(210, 94, 132);
    font-size: medium;
    border: 2px solid rgb(210, 94, 132);
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 2em;
}
footer {
    width: 100vw;
    grid-area: footer;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em;
}
}

@media (max-width: 1024px) {
    body {
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    header {
        width: 100vw;
        grid-area: header;
        display: grid;
        grid-template-areas: 
        "mainheader headmenu";
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2em;
        margin-bottom: 2em;
    }
    .mainheader {
        grid-area: mainheader;
    }
    .open {
        grid-area: headmenu;
        position: absolute;
        top: 2em;
        right: 2em;
    }
    main {
        grid-area: main;
        grid-template-areas: 
        "addheader"
        "whattodo" 
        "form";
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .addheader {grid-area: addheader; margin-top: 2em; }
    .whattodo {grid-area: whattodo;}
    .addcourseform {
        grid-area: form;
        display: grid;
        grid-template-areas: 
        "code"
        "name"
        "syllabus"
        "progression"
        "button";
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
        text-align: left;
        margin: 2em;
    }
    .coursecode {
        grid-area: code;
        margin-bottom: 15px;
    }
    .coursename {
        grid-area: name;
        margin-bottom: 15px;
    }
    .syllabus {
        grid-area: syllabus;
        margin-bottom: 15px;
    }
    .progression {
        grid-area: progression;
        margin-bottom: 30px;
    }
    .addbutton {
        grid-area: button;
        width: 170px;
        height: 40px;
        margin: 0 auto; 
        display: block;
        background-color: rgb(210, 94, 132);
        font-size: medium;
        border: 2px solid rgb(210, 94, 132);
    }
    .addbuttonlink { 
        grid-area: button;
        width: 170px;
        height: 40px;
        margin: 0 auto; 
        display: block;
        background-color: rgb(210, 94, 132);
        font-size: medium;
        border: 2px solid rgb(210, 94, 132);
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center; 
        margin-bottom: 2em;
    }
    footer {
        width: 100vw;
        grid-area: footer;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2em;
    }
}

@media (max-width: 600px) {
    body {
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    header {
        width: 100vw;
        grid-area: header;
        display: grid;
        grid-template-areas: 
        "mainheader headmenu";
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2em;
        margin-bottom: 2em;
        height: 50px;
    }
    .mainheader {
        grid-area: mainheader;
        text-align: center;
        font-size: x-large;
        position: absolute;
        left: 1em;
    }
    .open {
        grid-area: headmenu;
        position: absolute;
        top: 2em;
        right: 1em;
    }
    main {
        grid-area: main;
        grid-template-areas: 
        "addheader"
        "whattodo" 
        "form";
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .addheader {grid-area: addheader; margin-top: 2em; }
    .whattodo {grid-area: whattodo;}
    .addcourseform {
        grid-area: form;
        display: grid;
        grid-template-areas: 
        "code"
        "name"
        "syllabus"
        "progression"
        "button";
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
        text-align: left;
        margin: 2em;
    }
    .coursecode {
        grid-area: code;
        margin-bottom: 15px;
    }
    .coursename {
        grid-area: name;
        margin-bottom: 15px;
    }
    .syllabus {
        grid-area: syllabus;
        margin-bottom: 15px;
    }
    .progression {
        grid-area: progression;
        margin-bottom: 30px;
    }
    .addbutton {
        grid-area: button;
        width: 170px;
        height: 40px;
        margin: 0 auto; 
        display: block;
        background-color: rgb(210, 94, 132);
        font-size: medium;
        border: 2px solid rgb(210, 94, 132);
    }
    .addbuttonlink { 
        grid-area: button;
        width: 170px;
        height: 40px;
        margin: 0 auto; 
        display: block;
        background-color: rgb(210, 94, 132);
        font-size: medium;
        border: 2px solid rgb(210, 94, 132);
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center; 
        margin-bottom: 2em;
    }
    footer {
        width: 100vw;
        grid-area: footer;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2em;
        font-size: small;
    }
}